* {
    font-family: 'Roboto',Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* First Container */

#header-logo {
    font-size: 20px;
    color: #f9f8fa;
}

.first-container {
    background-color: #1f2937;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.upper-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding-bottom: 20px;
}

.list {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 25px;
}

.item {
    color: #e5e7eb;
}


.lower-container {
    display: flex;
    justify-content: space-around;
}


.content-container {
    width: 450px;
    color: #e5e7eb;
    margin: 30px;
}

.content-container button {
    border: 1px solid #1f2937 ;
    background-color: #3882f6; 
    color: #e5e7eb;
    border-radius: 10px;
    padding: 20px;
}

img {
    min-width: 400px;
    max-height: 200px;
}




/* Second Container */

#random-text {
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
}
  
.box-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 32px;
}

.sm-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-self: center;
    border: 2px solid blue;
    border-radius: 5px;
    height: 130px;
    width: 130px;
}

.list-text {
    width: 150px;
}

/* Third Container */

.third-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 100px auto;
    padding: 100px;
    background-color: #e5e7eb;
}

#quote-containter {
    display: flex;
    margin: 100px;
}

#signature {
    align-self: flex-end;
    font-weight: bold;
}

/* Fourth Container */

.fourth-container {
    display: flex;
    justify-content: space-evenly;
    background: #3882f6; 
    width: 480px;
    margin: 100px auto;
    border-radius: 5px;
    padding: 30px;
    gap: 30px;
}

.action-text {
    color: #e5e7eb;
}

.btn-container button {
    border: 1px solid #e5e7eb;
    background-color: #3882f6; 
    color: #e5e7eb;
    border-radius: 10px;
    padding: 10px;
}

/* Footer Container */

.footer-container {
    display: flex;
    flex-direction: column;
    background-color:  #1f2937;
    height: 50px;
    align-items: center;
}

#footer {
    padding-top: 10px;
    color: #e5e7eb;
}




